<!DOCTYPE html>
<html>
  <head>
    <title>Pesasense</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="p-0 m-0">
    <%= render partial: "layouts/nav" %>
    
    <div class="pt-5 w-100">
      <%= render partial: "layouts/flash" %>
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application'%>
  </body>
</html>
